@charset "UTF-8";

@mixin flex($direction:column, $inline:block) {
    display: if($inline==block, flex, inline-flex);
    flex-direction: $direction
    flex-wrap： wrap;
}

//文本不换行省略号
@mixin ellipsis() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}